#title{
  margin-top: 0%;
}
/* ===== 全体中央レイアウト ===== */
body {
  background-color: bisque;
  overflow: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;/*縦に並べる*/
  /*justify-content: center;縦方向の中央寄せ（flex縦の場合）*/
  align-items: center;/*親に対しての子の横方向の中央寄せ*/
  gap: 20px;/*子要素同士の間隔*/
}

/* ===== カード ===== */
.card {
  width: 300px;
  height: 200px;
  position: relative;
  cursor: pointer;
}

/* カードの中身（回転本体） */
.front {
  position: absolute;
  width: 100%;
  height: 100%;

  display: grid;
  place-items: center;
  padding: 1px;
  color: black;
  backface-visibility: hidden;
  transition: transform 1.0s;
  
}
.back{
position: absolute;
  width: 100%;
  height: 100%;

  display: grid;
  place-items: center;
  padding: 1px;
  color: white;
  backface-visibility: hidden;
  transition: transform 1.0s;
}
/* 表 */
.front {
  background-color: white;
  transform: rotateY(0deg);
}

/* 裏 */
.back {
  background-color: black;
  transform: rotateY(180deg);
}

/* hoverで回転 */
.flip.front {
  transform: rotateY(180deg);
}

.flip.back {
  transform: rotateY(360deg);
}

/* ===== 入力エリア ===== */
.answer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}

/* ===== 次へボタン（右下固定） ===== */
.nextbutton {
  position: fixed;
  right: 100px;
  bottom: 160px;
}

.reset{
  /*display: none;*/
  position: fixed;
  right: 60px;
  top:30px;
}

.guesses{
  margin-top: 0px;
}